*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/planningMode.xml
/.idea/deviceManager.xml
/.idea/studiobot.xml
/build
/app/build
*.class
/captures
.externalNativeBuild
.cxx
.DS_Store
*.keystore
*.jks
*.aab
